 Ignore temporary editor files.
.*.sw[po]
*~
.DS_Store

# Ignore project files
*.pyproj
*.sublime-project
*.sublime-workspace
sftp-config.json

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Ignore built documentation
_build

# Results of django-jenkins
tests/results

# Ignore files created by setup.py.
build/
dist/
MANIFEST
*.egg-info
*.egg
distribute*.tar.gz

# Test database
db.sqlite3
