 Ignore temporary editor files.
.*.sw[po]
*~
.DS_Store

# Ignore project files
*.pyproj
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea
.vscode

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Python virtual environment.
.venv/

# Ignore built documentation
_build

# Tox files
.tox/

# ignore Coverage.py files
.coverage*
htmlcov/

# Ignore files created by setup.py.
build/
dist/
MANIFEST
*.egg-info
*.egg
distribute*.tar.gz

# Ignore unencrypted storage manager secrets (used for testing).
testing_credentials_*.json
testing_credentials.tgz

# Ignore mypy cache files.
.mypy_cache

# Ignore VS Code files
*.code-workspace
