# include meta data
include LICENSE
include README.rst
# include documentation and files needed by documentation
include .readthedocs.yml
recursive-include docs *.py *.rst
recursive-include docs/example/example/processes *.yml
recursive-include docs/images *.png
# include tests and files needed by tests
include tox.ini
include pyproject.toml
include .coveragerc
include .pylintrc
include tests/.env
recursive-include tests *.py *.yaml *.rst
recursive-include resolwe/elastic/tests *.py
recursive-include resolwe/flow/tests *.py
recursive-include resolwe/flow/tests/descriptors *.yml
recursive-include resolwe/flow/tests/processes *.yml
recursive-include resolwe/flow/tests/files *.py *.rst *.txt
recursive-include resolwe/flow/tests/files/processes *.yaml
recursive-include resolwe/storage/tests/files *.csv
include resolwe/flow/tests/fixtures/*.yaml
recursive-include resolwe/permissions/tests *.py
recursive-include resolwe/permissions/fixtures *.yaml readme.txt
recursive-include resolwe/process/tests *.py
recursive-include resolwe/process/tests/descriptors *.yml
recursive-include resolwe/process/tests/files *.txt
recursive-include resolwe/process/tests/processes *.yml *.py
recursive-include resolwe/process/tests/workflows *.yml
recursive-include resolwe/test/tests *.py
recursive-include resolwe/test/tests/files *
recursive-include resolwe/test/tests/processes *.yml
recursive-include resolwe/toolkit/processes *.py *.yml
recursive-include resolwe/toolkit/tests *.py
recursive-include resolwe/toolkit/tests/files *
recursive-include resolwe/storage/tests *.py
include resolwe/storage/fixtures/*.yaml
# include Dockerfiles and files needed to build Docker images
recursive-include resolwe/toolkit/docker_images Dockerfile Dockerfile.* README.md
include resolwe/toolkit/docker_images/base/curlprogress.py
include resolwe/toolkit/docker_images/base/re-import.sh
include resolwe/flow/docker_images/Dockerfile.communication
include resolwe/flow/docker_images/Readme.md
# Exclude encrypted credentials for test connectors.
exclude tests/testing_credentials.tgz.enc
