[build-system]
requires = [
    "setuptools >= 67.3.3",
    "setuptools_scm >= 7.1.0",
]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ["py36", "py37", "py38", "py39", "py310", "py311"]

[tool.mypy]
plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]
check_untyped_defs = true

[tool.django-stubs]
django_settings_module = "tests.settings"
