[build-system]
requires = [
    "setuptools >= 40.3.0",
    "setuptools_scm >= 3.1.0, <4",
]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ["py36", "py37", "py38", "py39", "py310"]
